{
  email bronifty@gmail.com
}

portainer.bronifty.xyz {
  reverse_proxy {
    to https://portainer:9443

    transport http {
      tls
      tls_insecure_skip_verify
    }
  }
}
portainer-test.bronifty.xyz {
  reverse_proxy {
    to https://nginx:5658

    transport http {
      tls
      tls_insecure_skip_verify
    }
  }
}
